<p style="font-family: Arial; font-size:2em;color:black;">1 Data Type</p>

<p style="font-family: Arial; font-size:1.3em;color:black;"> 1.1 Integer</p>

In [1]:
a=1031
print(a,type(a))

1031 <class 'int'>

* Everything is object in python.
* use dir(X) or help(X) to understand the obejct X type and method,

<p style="font-family: Arial; font-size:1.3em;color:black;"> 1.2 Float</p>

In [3]:
print(1,type(1))
print(1.,type(1.))

1 <class 'int'>
1.0 <class 'float'>

* If want to save the n digit after decila, then we can use 'Decimal' & 'getcontext()' in package 'decimal' to implement.

In [7]:
import decimal
from decimal import Decimal

In [8]:
##use getcontext to adjust the precision of the digits after decimal. the default digit is 28
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [14]:
##example: 1/3 with 28 digits; 
d=Decimal(1)/Decimal(3)
d

Decimal('0.3333')

In [10]:
d1=1./3.
d1

0.3333333333333333

In [15]:
decimal.getcontext().prec=4
e=Decimal(1)/Decimal(3)
e

Decimal('0.3333')

In [17]:
d+e
#only keep the short digit?

Decimal('0.6666')

<p style="font-family: Arial; font-size:1.3em;color:black;"> 1.3 Boolean</p>

* Boolean only has True and False (1,0)

In [18]:
T=True
F=False
print(T+2)
print(F-8)

3
-8

* Except assign variable value to True or False, also can use bool(X) to create variable, x could be int, float, boolean and 字符、元组、列表、字典和集合

In [24]:
print( type(0), bool(0), bool(1) )
print( type(10.31), bool(0.01), bool(10.31) )
print(type(0.0),bool(0.0))
print( type(True), bool(False), bool(True) )

<class 'int'> False True
<class 'float'> True True
<class 'float'> False
<class 'bool'> False True

bool 作用在基本类型变量的总结：X 只要不是整型 0、浮点型 0.0，bool(X) 就是 True，其余就是 False。except when value is 0.00 or 0.0 or 0.0....对于数值变量，0, 0.0 都可认为是空的。

In [25]:
print( type(''), bool( '' ), bool( 'python' ) )
print( type(()), bool( () ), bool( (10,) ) )
print( type([]), bool( [] ), bool( [1,2] ) )
print( type({}), bool( {} ), bool( {'a':1, 'b':2} ) )
print( type(set()), bool( set() ), bool( {1,2} ) )

<class 'str'> False True
<class 'tuple'> False True
<class 'list'> False True
<class 'dict'> False True
<class 'set'> False True

bool 作用在容器类型变量的总结：X 只要不是空的变量，bool(X) 就是 True，其余就是 False。

<p style="font-family: Arial; font-size:2em;color:black;"> 2.Container Type</p>

Include: str, tuple, list, dict and set.

<p style="font-family: Arial; font-size:1.3em;color:black;"> 2.1 str</p>

* Use to deal with text, '' or "" to define.

In [27]:
t1 = 'i love Python!'
print( t1, type(t1) )
t2 = "I love Python!"
print( t2, type(t2) )

i love Python! <class 'str'>
I love Python! <class 'str'>

Methods to process 'str' data often:

In [29]:
#capitalize first letter
t1.capitalize()

'I love python!'

In [30]:
#split sentence to word
t2.split()

['I', 'love', 'Python!']

In [34]:
#find specified value in the list, if cant then return -1
print(t1.find('love'))
print(t1.find('like'))

2
-1

In [35]:
#replace(x,y), replace x in sentence to y
t2.replace( 'love Python', 'hate R' )

'I hate R!'

In [36]:
#srip(x) delete from start or end of the sentence include x
print( 'http://www.python.org'.strip('htp:/') )
print( 'http://www.python.org'.strip('.org') )

www.python.org
http://www.python

Indexing and slicing

In [37]:
s='Python'
print(s)
print(s[2:4])
print(s[-5:-2])
print(s[2])
print(s[-1])

Python
th
yth
t
n

* Python 里面索引有三个特点 (经常让人困惑)：

从 0 开始 (和 C 一样)，不像 Matlab 从 1 开始;
切片通常写成 start:end 这种形式，包括「start 索引」对应的元素，不包括「end索引」对应的元素。因此 s[2:4] 只获取字符串第 3 个到第 4 个元素;
索引值可正可负，正索引从 0 开始，从左往右；负索引从 -1 开始，从右往左。使用负数索引时，会从最后一个元素开始计数。最后一个元素的位置编号是 -1。

* regular expression (正则表达式): use to recognize the pattern
  if we would like to extract the time by pattern, we can use '[0-9/:\s]+', where:
     a. '' use to show the start and end of the pattern.
     b. []: all the data type in the str.
     c. 0-9: number of the str.
     d. /.
     e. :.
     f. \s: space.
     g. + outside [] represent the str inside [] at least appear once.

In [39]:
input = """
'06/18/2019 13:00:00', 100, '1st';
'06/18/2019 13:30:00', 110, '2nd';
'06/18/2019 14:00:00', 120, '3rd'
"""
input

"\n'06/18/2019 13:00:00', 100, '1st';\n'06/18/2019 13:30:00', 110, '2nd';\n'06/18/2019 14:00:00', 120, '3rd'\n"

In [42]:
import re
pattern=re.compile("'[0-9/:\s]+'")
pattern.findall(input)

["'06/18/2019 13:00:00'", "'06/18/2019 13:30:00'", "'06/18/2019 14:00:00'"]

<p style="font-family: Arial; font-size:1.3em;color:black;"> 2.2 tuple (元组)</p>

* (a,b,c,d) is a tuple.

In [43]:
t1 = (1, 10.31, 'python')
t2 = 1, 10.31, 'python'
print( t1, type(t1) )
print( t2, type(t2) )

(1, 10.31, 'python') <class 'tuple'>
(1, 10.31, 'python') <class 'tuple'>

for single tuple need to add comma, otherwise will be recognize as str

In [44]:
print( type( ('OK') ) )  # without comma , 
print( type( ('OK',) ) ) # with comma ,

<class 'str'>
<class 'tuple'>

Could build tuple in multiple dimension

In [46]:
nested = (1, 10.31, 'python'), ('data', 11)
nested

((1, 10.31, 'python'), ('data', 11))

Indexing and slicing:
In a loose defination, it is extract one element or a group of element.

In [48]:
#indexing
print(nested[0])
print( nested[0][0], nested[0][1], nested[0][2] )

(1, 10.31, 'python')
1 10.31 python

In [49]:
#slicing
nested[0][0:2]

(1, 10.31)

* tuple is immutable(不可更改). so that cant assign value to tuple. However, element in tuple is mutable. we can change the element.NOT SAME WITH ASSIGN VALUE TO ELEMENT.

In [60]:
#example of error
t = ('OK', [1, 2], True)
t[2] = False

TypeError: 'tuple' object does not support item assignment

In [61]:
print(t) #before
t[1].append(3)
print(t) #after

('OK', [1, 2], True)
('OK', [1, 2, 3], True)

* size and content of tuple is immutable, so only have count and index

In [63]:
t = (1, 10.31, 'python')
print( t.count('python') ) ##shows how many times 'python' appears
print( t.index(10.31) ) ## shows what is the index of 10.31 -- location

1
1

* how to concatenate tuple. use '+' or '*'

In [64]:
(1, 10.31, 'python') + ('data', 11) + ('OK',)
(1, 10.31, 'python') * 2

(1, 10.31, 'python', 1, 10.31, 'python')

* unpack the tuple

In [65]:
t = (1, 10.31, 'python')
(a, b, c) = t
print( a, b, c )

1 10.31 python

In [66]:
# more than one dimension
t = (1, 10.31, ('OK','python'))
(a, b, (c,d)) = t
print( a, b, c, d )

1 10.31 OK python

In [67]:
t = 1, 2, 3, 4, 5
a, b, *rest, c = t # * is call wildcard, being one or more elemnts, in the case it is just assign the other elements to rest.
print( a, b, c )
print( rest )

1 2 5
[3, 4]

In [68]:
#if totally dont care about the rest variable, when use * with _
a,b,*_=t
print(a,b)

1 2

pros & cons
pros: 占内存小，安全，创建遍历速度比列表快，可一赋多值。
cons: 不能添加和更改元素。

In [1]:
%timeit [1, 2, 3, 4, 5]
%timeit (1, 2, 3, 4, 5)

110 ns ± 9.98 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
24.8 ns ± 3.02 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [3]:
#遍历
lst = [i for i in range(65535)]
tup = tuple(i for i in range(65535))
%timeit for each in lst: pass
%timeit for each in tup: pass

1.35 ms ± 159 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
1.39 ms ± 230 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
# take space
from sys import getsizeof
print( getsizeof(lst) )
print( getsizeof(tup) )

578936
524328

2.3 List
* list =[element1, element2, ...]

In [20]:
l = [1, 10.31,'python']
print(l, type(l))

[1, 10.31, 'python'] <class 'list'>

Not like tuple, list is mutable, could be append, extend, insert, remove (pop)

* append:take all values as one element and add to the end
* extend:add one by one to the end and each of them is one element

In [21]:
l.append([4, 3])
print( l )
l.extend([1.5, 2.0, 'OK'])
print( l )

[1, 10.31, 'python', [4, 3]]
[1, 10.31, 'python', [4, 3], 1.5, 2.0, 'OK']

* insert value x in front of index i

In [23]:
l.insert(1,'abc')
a=l
l

[1, 'abc', 'abc', 10.31, 'python', [4, 3], 1.5, 2.0, 'OK']

* remove or pop

In [24]:
l.remove('python') #remove the first occurrence of object
l

[1, 'abc', 'abc', 10.31, [4, 3], 1.5, 2.0, 'OK']

In [25]:
p = a.pop(3) # removes and returns object at index.  Only only pop 1 index position at any time.
print( p )
print(a)
print( l )

10.31
[1, 'abc', 'abc', [4, 3], 1.5, 2.0, 'OK']
[1, 'abc', 'abc', [4, 3], 1.5, 2.0, 'OK']